.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #6495ed;
  border-radius: 4px;
  background: #6495ed;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  width: auto !important;
  height: 40px !important;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #6495ed;
  border-color: #6495ed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}