.appeal-container {
  width: 800px;
  height: max-content;
  overflow: hidden;
  margin: auto;
  padding: 10px 60px 0 60px;
  background: #fff;
}

.appeal-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.appeal-container h2 {
  color: #fff;
  background-color: #BF2C37;
  width: fit-content;
  padding: 15px;
}

#appeal-form label {
  padding: 20px;
  margin-right: 80px;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

#appeal-form input,
#detail {
  width: 500px;
  height: 15px;
  margin-bottom: 10px;
  padding: 8px;
}

#description {
  height: 120px;
}

#upload {
  margin-bottom: 0 !important;
}

#appeal-submit,
#appeal-return {
  margin-top: 15px;
  margin-bottom: 10px;
}

#upload-note {
  color: #000;
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  margin-bottom: 15px;
}
